*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'jost',sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
  }
:root{
    --bg-color:#ffffff;
    --text-color:#000;
    --second-color:#a09dab;
    --main-color:#f75023;
    --big-font:5rem;
    --h2-font:3rem;
    --p-font:1.1rem; 
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);    
}
  
/* night mode toggle */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.toggle{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.toggle p{
    font-size: 20px;
    font-weight: 600;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders*/ 
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
nav{
    position: fixed;
    width: 100%;
    margin: auto;
    top: 0;
    right: 0;
    border-radius: 10px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: .3s;
    background-color: rgba(18, 69, 89, 0.5);;
    height: auto;
    max-width: 100%;
    backdrop-filter: blur(10px) ;   
}
.logo img{
    max-width: 100%;
    width: 100px;
    height: auto;
  }
.navlist{
    display: flex;
    justify-content: space-between;
  }
.navlist li{
    position: relative;
    
  }
.navlist a{
   
    text-decoration: none;
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 27px;
  } 
  
.navlist a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--main-color);
    bottom: -3px;
    left: 0;
    transition: ease .40s;
  }
.navlist a:hover::after{
    width: 100%;
}
section{
    padding: 50px 18%;
}
.social a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(128,103,240,1);
    font-size: 17px;
    color: var(--bg-color);
    margin-right: 22px;
    margin-bottom: 30px;
}
.social a:hover{
    transform: scale(1.1);
    background: var(--main-color);
    transition: .5s;
  }
.btn{
    display: inline-block;
    color: var(--text-color);
    background-color: #EFF6E0;
    font-size: var(--p-font);
    padding: 10px 40px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 30px;
    transition: ease .40s;
}
.btn:hover{
    transform: scale(1.1);
}
.home{
    background-color: #e0e5f6;
    display: flex;
    width: 90%;
    height: auto;
    padding: 20px;
    margin: auto;
    text-align: left;
    border-radius: 10px;
    line-height: 40px;
    margin-top: 70px;
    justify-content: center;
    border-radius: 15px;
   
}
.home-text h1{
    margin: 10px 0px 25px;
    font-size: var(--big-font);
    line-height: 1;
    font-weight: 500;
}
.home-text h5{
    margin-bottom: 23px;
    font-size: 19px;
    font-weight: 500;
}
span{
    color: var(--main-color);
}
.home-text h3{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}
.home-text p{
    font-size: var(--p-font);
    color: var(--secound-color);
    line-height: 28px;
    margin-bottom: 20px;
}
.home-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: ease .50s;   
}
.home-img:hover{
    animation-duration: 5s;
    transform: scale(1.1);
}


.top-btn{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: var(--p-font);
    font-weight: 500;
    transition: ease .50s;
}
.top-btn:hover{
    transform: scale(1.1);
    background: var(--main-color);
    border: 2px solid var(--main-color);
    color: var(--bg-color);
}
  
.about{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: auto;
}
.about-img img{
    max-width: 100%;
    width: 540px;
    height: auto;
}
.about-text h2{
    font-size: var(--h2-font);
    font-weight: 500;
    margin: 8px 0px 25px;
    line-height: 1.1;
}
.about-text h3{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}
.about-text p{
    max-width: 550px;
    font-size: var(--p-font);
    color: var(--secound-color);
    line-height: 28px;
    margin-bottom: 45px;
}

.skills {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.skills h2{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin: 30px 0px;
}
.skill-list{
    padding: 50px;
    border-radius: 20px;
    width: 90%;
    height: auto;
    margin: auto;
    background-color: #e0e5f6;
    color: #ffffff;
    text-align: left;

}
.skill{
    margin-top: 20px;
    color:black
}
.line p{
    font:10px;
    margin-bottom: 40px;
}
.line
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 10px;
    background-color: aquamarine;
}
.whole-line{
    height: 10px;
    background-color: blueviolet;
}

.Certificates{
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.Certificates h2{
    
    margin: 50px;
    margin-bottom: 50px;
    font-weight: 500;

}

.Certificate{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin:auto;
    align-items: center;
}
.item img{
    width: 100%;
    border-radius: 10px;
    border: 2px solid #111827;
}

.item{
   
    width: full;
    height: auto;
    transition: all ease .5s;
}
.item:hover{
    animation-duration: 5s;
    transform: scale(2);
    border-radius: 20px;
    border: 4px solid #111827;
    
}

/*Project*/
    
.Projects{
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.Projects h2{
    margin: 10px;
    margin-bottom:50px;

}
.Project{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
    cursor: pointer;
}
.col{
    position: relative;
}
.col img{
    max-width: 100%;
    width: 550px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    transition: all .40s;
}
.layer:hover{
    background: linear-gradient(rgba(0,0,0,0.5) 0%, #191919);
}
  
.layer h3{
    position: absolute;
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    color: var(--bg-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .40s;
}
.layer:hover h3{
    bottom: 52%;
    opacity: 1;
}
  
.layer h5{
    position: absolute;
    width: 100%;
    font-size:17px;
    font-weight: 500;
    color: var(--bg-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .40s;
}
.layer:hover h5{
    bottom: 48%;
    opacity: 1;
}


#text-contact{
    width: 100vw;
    text-align: center;
}
#Contact{
    background-color: #e0e5f6;
    width: 65%;
    height: auto;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    margin-top: 30px;
}

#Contact  h2{
    text-align: center;
}

#Contact form{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#Contact form input{
    font-size: 30px;
}
#Contact form button{
    width: 80px;
    height: 30px;
    font-size: large;
    border-radius: 5px;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
footer p{
    font-size: 23px;
    color: white;
    font-weight: 500;

}
.icons{
    display: flex;
    gap: 20px;
}

.icons img{
    transition: all ease .5s;
}

.icons img:hover{
    animation-duration: 5s;
    transform: scale(1.1);
}

.links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px;
    text-decoration: none;
    color: black;
    font-style: italic;
}
.links a{
    color: black;
    text-decoration: none;
}

/* sm */
@media (max-width:640px){
      
    .home{
        background-color: #e0e5f6;
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        padding: 20px;
        margin: auto;
        text-align: left;
        line-height: 40px;
        margin-top: 60px;
        justify-content: center;
    
    }
    .home-text h1{
        margin: 10px 0px 25px;
        font-size: var(--big-font);
        line-height: 1;
        font-weight: 500;
    }
    .home-text h5{
        margin-bottom: 0px;
        font-size: 16px;
        font-weight: 500;
    }
    span{
        color: var(--main-color);
    }
    .home-text h3{
        color: var(--main-color);
        font-size: 20px;
        padding-bottom: 10px;
        font-weight: 500;
    }
    .home-text p{
        line-height: 0px;
        margin-bottom: 0px;
    }
    .home-img{
        margin: auto;
        width: 200px;
    }
    .home-img img{
        object-fit: contain;
        width: 300px;
        height: auto!important;
        margin-bottom: 20px;
        border-radius: 10%;
    }
    .about{
        padding: 30px;
       flex-direction: column;
    }
    .about-img img{
        display: none;
    }
    .about-text h2{
        font-size: 30px;
        font-weight: 500;
        max-width: 550px;
        line-height: 1.1;
    }
    .about-text p{
        text-align: justify;
        
        font-size: var(--p-font);
        color: var(--secound-color);
        line-height: 28px;
        margin-bottom: 30px;
    }
    .btn{
        padding: 10px 20px;
    }
    
    
    section{
        padding: 10px 0px;
    }
    
    .Certificates h2{
        text-align: center;
        font-size: 50px;
        font-weight: 500;
        margin: 50px;
    
    }
       
    .Projects{
        width: 90%;
        margin: auto;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
    }
    .Projects h2{
        text-align: center;
        font-size: 50px;
        font-weight: 500;
        margin: 50px;
    }
    
    #text-contact{
        text-align: center;
        font-size: 50px;
        font-weight: 500;
        margin: 30px 0px;
    }
    #Contact{
        width: 100%;
    }
    
    
    
    footer{
       
        flex-direction: column-reverse;
        gap: 5px;
    }
    nav{
        position: fixed;
        width: 100%;
        margin: auto;
        top: 0;
        right: 0;
        border-radius: 0px;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center!important;
        padding: 10px;
        transition: .3s;
        background-color: rgba(18, 69, 89, 0.5);;
        height: auto;
        max-width: 100%;
        backdrop-filter: blur(10px) ;
    }
    .logo img{
        display: none;
      }
      nav{
        padding: 0px;
      }
    .navlist{
        display: flex;
        justify-content: center;
        padding-left: 0px;
        margin: auto;
        gap: 12px;
        width: 90%;
        border-radius: 0px!important;
        
      }
    .navlist a{
        padding: 0px!important;
        font-size: 15px!important;
    }
      .toggle p{
        display: none;
      }
.switch{
    display: none;
}
      

}
/* md */
@media (max-width:768px){

       
.home{
    background-color: #e0e5f6;
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    padding: 20px;
    margin: auto;
    text-align: left;
    line-height: 40px;
    margin-top: 60px;
    justify-content: center;

}
.home-text h1{
    margin: 10px 0px 25px;
    font-size: var(--big-font);
    line-height: 1;
    font-weight: 500;
}
.home-text h5{
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 500;
}
span{
    color: var(--main-color);
}
.home-text h3{
    color: var(--main-color);
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 500;
}
.home-text p{
    line-height: 0px;
    margin-bottom: 0px;
}
.home-img{
    margin: auto;
    /* width: 400px; */
}
.home-img img{
    object-fit: contain;
    width: 500px;
    height: auto!important;
    margin-bottom: 20px;
    border-radius: 10%;
}
.about{
    padding: 30px;
   flex-direction: column;
}
.about-img img{
    display: none;
}
.about-text h2{
    font-size: 30px;
    font-weight: 500;
    max-width: 550px;
    line-height: 1.1;
}
.about-text p{
    text-align: justify;
    
    font-size: var(--p-font);
    color: var(--secound-color);
    line-height: 28px;
    margin-bottom: 30px;
}
.btn{
    padding: 10px 20px;
}


section{
    padding: 10px 0px;
}

.Certificates h2{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin: 50px;

}
 
.Projects{
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.Projects h2{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin: 50px;
}


#text-contact{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin: 30px 0px;
}
#Contact{
    width: 100%;
}



footer{
   
    flex-direction: column-reverse;
    gap: 5px;
}
nav{
    position: fixed;
    width: 100%;
    margin: auto;
    top: 0;
    right: 0;
    border-radius: 10px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: .3s;
    background-color: rgba(18, 69, 89, 0.5);;
    height: auto;
    max-width: 100%;
    backdrop-filter: blur(10px) ;
}
.logo img{
    display: none;
  }
  nav{
    padding: 0px;
  }
.navlist{
    display: flex;
    justify-content: center;
    padding-left: 0px;
    margin: auto;
    gap: 12px;
    width: 90%;
    border-radius: 0px!important;
    
  }
  .toggle p{
    max-width: 70px;
    font-size: 12px;
    font-weight: 600;
  }
  
.navlist a{
    padding: 0px!important;
}
.navlist li{
    font-size: 20px!important;

  } 
}